[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.133.0",
    "python-multipart>=0.0.22",
    "ruff>=0.15.2",
    "ty>=0.0.18",
    "uvicorn>=0.41.0",
]
